<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
  <article class="timeline">
  <h3>Friend requests:</h3>
  <ul class="posts">
    <%= list_friend_requests(@user) %>
  </ul>
</article>
</section>
